/* ==========================================================================
   color palette
   ========================================================================== */

:root {
  --red-color: rgb(141, 15, 63);
  --white-color: rgb(184, 179, 172);
  --syrah-color: rgb(220, 57, 43);
  --chardonnay-color: rgb(150, 160, 43);
  --riesling-color: rgb(197, 183, 141);
  --rose-color: rgb(235, 177, 188);
}

/* ==========================================================================
   general
   ========================================================================== */

.project {
  text-align: center;
  /*padding: 200px 0;*/
  border-bottom: 1px #ebebeb solid;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  background: transparent;
}

.label_title {
  font-size: "40px";
  text-align: center;
}

.label_body {
  font-size: "20px";
  /*text-align: center;*/
  /*word-break: break-word;*/
}

.project.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* .project p {
    max-width: 300px;
    margin: 0 auto;
    color: #294D67;
} */

svg {
  text-align: center;
}

.left {
  width: 55%;
  margin-right: 2%;
  float: left;
}

.right {
  width: 42%;
  float: left;
}

p {
  text-align: justify;
}

.section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.container a {
  text-decoration: none;
  border-radius: 1rem;
  padding: 1px 5px 1px;
  color: white;
  background: linear-gradient(to right, var(--red-color), var(--syrah-color));
  transition: all 0.5s cubic-bezier(0.47, 1.59, 0.33, 1.53);
}

.container a:hover {
  padding: 1px 10px 1px;
}

.vis-smell {
  height: 700px;
  width: 100%;
}

.fp-tooltip {
  color: black !important;
  font-weight: bold;
}

svg text {
  dominant-baseline: middle;
}

html,
body,
.section,
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.slide {
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #000;
  color: #fff;
}

/* Scroll Arrows */

.arrow-wave {
  display: inline-block;
  cursor: pointer;
  font-size: 0;
}

.arrow-wave span {
  display: block;
  position: relative;
  height: 20px;
  width: 32px;
  opacity: 0.2;
}

.arrow-wave span::before,
.arrow-wave span::after {
  display: block;
  content: "";
  position: absolute;
  height: 4px;
  width: 24px;
  background-color: rgba(255, 255, 255, 0.568);
}

.arrow-wave span::before {
  top: -2px;
  left: 0;
  transform-origin: left center;
  transform: rotate(45deg);
}

.arrow-wave span::after {
  top: -2px;
  right: 0;
  transform-origin: right center;
  transform: rotate(-45deg);
}

.arrow-wave span:nth-child(1n) {
  animation: animate-arrow-wave 2s infinite;
  animation-delay: 0.25s;
}
.arrow-wave span:nth-child(2n) {
  animation: animate-arrow-wave 2s infinite;
  animation-delay: 0.5s;
}

.arrow-wave span:nth-child(3n) {
  animation: animate-arrow-wave 2s infinite;
  animation-delay: 0.75s;
}

@keyframes animate-arrow-wave {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/*******************COLORS*****************************/

.text-red {
  color: var(--red-color) !important ;
}

.text-white {
  color: var(--white-color) !important;
}

.text-syrah {
  color: var(--syrah-color) !important;
}

.text-chardonnay {
  color: var(--chardonnay-color) !important;
}

.text-riesling {
  color: var(--riesling-color) !important;
}

.text-rose {
  color: var(--rose-color) !important;
}

/*******************************************************
***********************  INTRO  ************************
********************************************************/

#intro {
  background: #000;
  text-align: center;
  color: #fff;
}

#intro h1 {
  color: white;
  font-size: 30vh;
  mix-blend-mode: screen;
  letter-spacing: -1.5rem;
  font-family: 'Poppins';
}

#intro svg {
  display: block;
  position: absolute;
  height: 100%;
  margin: auto;
}

.fp-viewing-Introduction #fp-nav {
  visibility: hidden;
}

/*******************************************************
**********************  BASICS  ************************
********************************************************/

#project01 .switchable {
  cursor: pointer;
  background: black;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1px 5px 1px;
  transition: all 0.5s cubic-bezier(0.47, 1.59, 0.33, 1.53);
}

#project01 .switchable:hover {
  padding: 1px 10px 1px;
}

#basicsviz2 .handle {
  rx: 1;
  stroke: black;
  stroke-opacity: 0;
  stroke-width: 0.5;
  stroke-dasharray: 1;
  cursor: grab;
  fill-opacity: 0;
}

.label_hoover {
  rx: 1;
  stroke: black;
  stroke-opacity: 0;
  stroke-width: 3;
  stroke-dasharray: 3;
  fill-opacity: 0;
}

.label_hoover_line {
  rx: 1;
  stroke: black;
  stroke-opacity: 0;
  stroke-width: 3;
  stroke-dasharray: 3;
  fill-opacity: 0;
}

.label_hoover:hover {
  stroke-opacity: 1;
}

#basicsviz2 .handle:hover {
  stroke-opacity: 1;
}

#basicsviz2.shake {
  animation: shake-anim 0.5s;
  animation-iteration-count: infinite;
}

#basicsviz2 .handle:active {
  cursor: grabbing;
}

#basicsviz2 text {
  fill: black;
  fill-opacity: 1;
  text-anchor: start;
  font-size: 10%;
}

#basicsviz2.pickup {
  animation: pickup-anim 2s;
}

@keyframes pickup-anim {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes shake-anim {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*******************************************************
**********************  TASTE  *************************
********************************************************/

#tasteSearchForm {
  margin: 1rem;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
#tasteSearchForm input,
#tasteSearchForm i {
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 10px;
}

#tasteSearchForm input:focus {
  outline: none;
}

#tasteSearchForm input[type="text"] {
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
}

i.fa {
  color: var(--chardonnay-color);
}

#tasteSearchForm i {
  background-color: var(--rose-color);
  color: #fff;
}

#tasteSearchForm i:hover {
  background-color: var(--red-color);
}

#tasteSearchForm i:active {
  background-color: #000;
}

.autocomplete-items {
  position: absolute;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #f1f1f1;
  /*position the autocomplete items to be the same width as the container:*/
  top: 110%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px dashed #dadada;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #e9e9e9 !important;
}

/*******************************************************
*******************  FOOD PAIRING  *********************
********************************************************/

#project05 .column ul {
  text-align: left;
  list-style: circle inside;
  display: inline-flex;
  flex-direction: column;
  margin: auto;
}

.side-panel {
  overflow: hidden;
  /*auto*/
  border-radius: 1rem;
  box-shadow: 0 0 10px #ccc;
}

.side-panel h2 {
  /*color: black;*/
  /*background-color: black;*/
  margin: 0;
}

.title-with-quote {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background: #4a4a4a;
  color: white;
  /*text-shadow: 2px 1px 2px black;*/
}

.title-with-quote p {
  color: white;
}

.bottom-bar {
  height: 2rem;
  width: 100%;
  background: #4a4a4a;
}

.side-panel h3 {
  font-weight: bold;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.grid-container div {
  padding: 16px;
  font-size: 0.8rem;
}

.side-panel p {
  text-align: center;
}

.food-icon img,
.food-icon svg {
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

/*******************************************************
*******************  Vision *********************
********************************************************/

.hsl-description {
  text-align: left;
}

.dropdown-menu {
  min-width: 15rem;
}

.list-indent-left {
  text-align: left;
  flex-direction: column;
  display: inline-flex;
  list-style-type: none !important;
  margin-left: 0 !important;
}

.list-indent-left ul {
  list-style-type: none;
  margin-left: 2em !important;
}

.info-panel h3 {
  color: white;
  font-weight: bold;
}

#smell-viz {
  max-height: 500px;
  display: flex;
}
