/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body {
  font: 16px/1.5 Helvetica, Helvetica Neue, Arial;
}

/* ==========================================================================
   Our styles
   ========================================================================== */

.project {
  text-align: center;
  /*padding: 200px 0;*/
  border-bottom: 1px #ebebeb solid;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.label_title {
  font-size: "40px";
  text-align: center;
}

.label_body {
  font-size: "20px";
  /*text-align: center;*/
}

.project.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* .project p {
    max-width: 300px;
    margin: 0 auto;
    color: #294D67;
} */

svg {
  text-align: center;
}

.left {
  width: 55%;
  margin-right: 2%;
  float: left;
}

.right {
  width: 42%;
  float: left;
}

p {
  text-align: justify;
}

.section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.vis-smell {
  height: 700px;
  width: 100%;
}

.fp-tooltip {
  color: black !important;
  font-weight: bold;
}

svg text {
  dominant-baseline: middle;
}

/*******************************************************
***********************  INTRO  ************************
********************************************************/

#intro {
  background: #ffb6c1;
  text-align: center;
  /*color: #fff;*/
  color: black;
}

#intro h1 {
  color: white;
  font-size: 10rem;
}

/*******************************************************
**********************  BASICS  ************************
********************************************************/

#project01 .switchable {
  cursor: pointer;
  background: black;
  font-weight: bold;
  border-radius: 1rem;
  padding: 2px 5px 2px;
}

#basicsviz2 .handle {
  rx: 1;
  stroke: black;
  stroke-opacity: 0;
  stroke-width: 0.5;
  stroke-dasharray: 1;
  cursor: grab;
  fill-opacity: 0;
}

.label_hoover {
  rx: 1;
  stroke: black;
  stroke-opacity: 0;
  stroke-width: 3;
  stroke-dasharray: 3;
  fill-opacity: 0;
}

.label_hoover_line {
  rx: 1;
  stroke: black;
  stroke-opacity: 0;
  stroke-width: 3;
  stroke-dasharray: 3;
  fill-opacity: 0;
}

.label_hoover:hover {
  stroke-opacity: 1;
}

#basicsviz2 .handle:hover {
  stroke-opacity: 1;
}

#basicsviz2.shake {
  animation: shake-anim 0.5s;
  animation-iteration-count: infinite;
}

#basicsviz2 .handle:active {
  cursor: grabbing;
}

#basicsviz2 text {
  fill: black;
  fill-opacity: 1;
  text-anchor: start;
  font-size: 10%;
}

#basicsviz2.pickup {
  animation: pickup-anim 2s;
}

@keyframes pickup-anim {
  0% { transform: translate(0, 0); }
  20% { transform: translate(0, -3rem); }
  100% { transform: translate(0, 0); }
}

@keyframes shake-anim {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*******************************************************
*******************  FOOD PAIRING  *********************
********************************************************/

.side-panel {
  overflow: hidden;
  /*auto*/
  border-radius: 1rem;
  box-shadow: 0 0 10px #ccc;
}

.side-panel h2 {
  /*color: black;*/
  /*background-color: black;*/
  margin: 0;
}

.title-with-quote {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background: #4a4a4a;
  color: white;
  /*text-shadow: 2px 1px 2px black;*/
}

.title-with-quote p {
  color: white;
}

.bottom-bar {
  height: 2rem;
  width: 100%;
  background: #4a4a4a;
}

.side-panel h3 {
  font-weight: bold;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.grid-container div {
  padding: 16px;
  font-size: 0.8rem;
}

.side-panel p {
  text-align: center;
}

.food-icon img,
.food-icon svg {
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 15px;
}

div.content ul {
  display: inline-flex;
  flex-direction: column;
}

div.content ul li {
  text-align: left;
}

html,
body,
.section,
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  justify-content: center;
  align-items: center;
}

.hsl-description {
  text-align: left;
}

.dropdown-menu {
  min-width: 15rem;
}
