/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html, button, input, select, textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, img, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body {
    font: 16px/1.5 Helvetica, Helvetica Neue, Arial;
}

/* ==========================================================================
   Our styles
   ========================================================================== */

/* =Main */

#intro {
    height: 100vh;
    background: #ffb6c1;
    text-align: center;
    /*color: #fff;*/
    color: black;
}

#intro h1 {
    color: white;
    font-size: 10rem;
}

.project {
    text-align: center;
    /*padding: 200px 0;*/
    border-bottom: 1px #ebebeb solid;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.project.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.project p {
    max-width: 300px;
    margin: 0 auto;
    color: #294D67;
}

svg {
    text-align: center;
}

.left {
    width: 55%;
    margin-right: 2%;
    float: left;
}

.right {
    width: 42%;
    float: left;
}

#project01 .switchable {
    cursor: pointer;
    background: black;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0 5px 3px;
}

.food-pairing-main {
    /* Center horizontally: */
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #aaa;
}

.side-panel {
    margin: 2rem;
    right: 0;
    top: 0;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #aaa;
    min-height: 500px;
}

.food-icon {
    width: 30%;
    float: left;
    height: 6rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.food-icon p {
    text-align: center;
}

.food-icon img, .food-icon svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    text-align: justify;
}

.section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.title {
    padding-bottom: 50px;
    margin-top: -50px;
}

.vis-smell {
    height: 700px;
    width: 100%;
}

.tooltip {
    stroke: white;
    fill: white;
}

.fp-tooltip {
    color: black !important;
    font-weight: bold;
}

#basicsviz2 .handle {
    rx: 1;
    stroke: black;
    stroke-opacity: 0;
    stroke-width: 0.5;
    stroke-dasharray: 1;
    cursor: grab;
    fill-opacity: 0;
}

#basicsviz2 .handle:hover {
    stroke-opacity: 1;
}

#basicsviz2 .handle:active {
    cursor: grabbing;
}

#basicsviz2 text {
    fill: black;
    fill-opacity: 1;
    text-anchor: start;
    font-size: 10%;
    dominant-baseline: middle;
}
