/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 16px/1.5 Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==========================================================================
   Our styles
   ========================================================================== */
/* =Main */
#intro {
    height: 100vh;
    background: #ffb6c1;
    text-align: center;
    /*color: #fff;*/
    color: black;
}
#intro .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project {
    text-align: center;
    /*padding: 200px 0;*/
    border-bottom: 1px #ebebeb solid;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.project.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.project p {
    max-width: 300px;
    margin: 0 auto;
    color: #294D67;
}

svg {
    text-align: center;
}

.left{
    width:55%;
    margin-right:2%;
    float: left;
}
.right {
    width:42%;
    float: left;
}
.clearfix{
    clear:both
}

a {
    text-decoration: none;
    color: orangered;
}

a:hover {
    border-bottom: 2px solid orangered;
}

.switchable {
    cursor: pointer;
    background: rgba(128,128,128,0.5);
    border-radius: 1rem;
    padding: 0.5rem;
}

circle {
    stroke: #aaa;
    stroke-width: 0.1;
    opacity: 0.8;
    transition: opacity 0.5s;
    cursor: pointer;
}

circle:hover {
    opacity: 1;
}

.side-panel {
    width: 20rem;
    margin: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #aaa;
}

.food-icon {
    width: 30%;
    float: left;
    height: 6rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.food-icon p {
    text-align: center;
}

.food-icon img,
.food-icon svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    text-align: justify;
}

h1 {
    border-bottom: 2px solid black;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: orangered;
}

a:hover {
    border-bottom: 2px solid orangered;
}

.width-limited {
    max-width: 50rem;

    /* Center horizontally: */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    padding: 1rem;

    background-color: black;
    color: white;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #aaa;
}

/* =Footer */
.footer-container {
    text-align: left;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #06060d; 
}
.footer-container .wrapper {
    width: 80%;
    max-width: none;
    margin: 0 10%; 
}
.footer-container h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal; 
}
.footer-container a {
    color: rgba(255, 255, 255, 0.5); 
}